*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    background: #f0f2f5;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 100vh;
}
#left{
    width: 500px;
}
#right{
    background: white;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 400px;
    margin-top: 40px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 10px lightgrey;
}
#logo{
    font-size: 60px;
    font-weight: bold;
    color: #0866ff;
}
input{
    padding: 14px 16px 14px 16px;
    margin-right: 12px;
    margin-left: 12px;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 55px;
}
#login-button{
    width: 94%;
    align-self: center;
    background: #0866ff;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    line-height: 48px;
}
#create-acc-button{
    line-height: 50px;
    background: #42b72a;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 65%;
    align-self: center;
    margin: 10px;
}
a{
    text-decoration: none;
    align-self: center;
    margin: 10px;
    color: #2e61e3;
}
p{
    font-size: 27px;
    padding: 8px;
}
hr{
    width: 90%;
    align-self: center;
}